<!DOCTYPE html>
<html lang="en" ng-app="<%= applicationName %>">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/wax/css/styles.css" rel="stylesheet"/>
    <script src="/js/angular.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/wax/<%= applicationName %>/app.js"></script>
    <script src="/wax/<%= applicationName %>/config.js"></script>
<% for(var entityName in entities) {
        var entity = entities[entityName];
-%>
    <script src="/wax/<%= applicationName %>/entities/<%= entityName %>/list/controllers/<%= entityName %>ListController.js"></script>
    <script src="/wax/<%= applicationName %>/entities/<%= entityName %>/details/controllers/<%= entityName %>DetailsController.js"></script>
    <script src="/wax/<%= applicationName %>/entities/<%= entityName %>/services/<%= entityName %>Service.js"></script>
<%  if(entity.relations) {
        for(var relatedEntity in entity.relations) {
            var relation = entity.relations[relatedEntity];
-%>
    <script src="/wax/<%= applicationName %>/entities/<%= entityName %>/<%= relatedEntity %>/map/controllers/<%= entityName %>2<%= relatedEntity %>MapController.js"></script>
<%      }
    }
   } -%>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid" ng-view>
    </div>
</body>
</html>